.non-pushed-button{
    height: 200px;
    width: 200px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 200px;
}

.pushed-button{
    height: 200px;
    width: 200px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    border: 10px solid rgb(138, 40, 40);
    text-align: center;
    line-height: 180px;
}